<h2>Welcome to TRAILS!</h2>
<p><strong>TRAILS </strong> is a web 2.0 service where you can store your trails and explore trails of others. TRAILS works best together with a mobile software such as Trail Explorer. <em>Now you can sign in or if you don't have an account yet then you can register a new account.</em></p>


